.finishButton {
    border: 2px solid var(--blue);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: transparent;
}

.finishButton:hover {
    border: 2px solid var(--blue-dark);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: var(--gray-600);
}

.finishButtonFinished {
    border: 2px solid var(--purple-dark);
    background-color: var(--purple-dark);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finishButtonFinished:hover {
    border: 2px solid var(--purple);
    background-color: var(--purple);
}

.deleteButton {
    color: var(--gray-300);
    background-color: transparent;
    border: none;
    width: auto;
}

.deleteButton:hover {
    color: var(--danger);
}

.taskContent {
    flex: 1;
    font-size: 0.875rem;
}

.taskContentFinished {
    text-decoration-line: line-through;
    flex: 1;
    font-size: 0.875rem;
    color: var(--blue);
}